{% if not expired %}
    <div class="slashcoupon-wrapper border border-gray-300 shadow-md bg-gray-100 opacity-75 rounded mt-6">
        <div id="form-wrapper" class="md:p-6 px-4 py-6">
            <div class="flex justify-between items-center px-2 text-gray-800 md:text-2xl text-lg font-medium mb-6">
                <span class="">Get This Offer for <span class="text-brand-orange">KES {{ data.coupon_price|default('') }}</span></span>
            </div>
            <form id="slash-coupon-redeem-form" onsubmit="return false;">
                <input type="hidden" name="coupon_id" value="{{ coupon_id|default('') }}">
                <input type="hidden" name="coupon_name" value="{{ data.coupon_name|default('') }}">
                <input type="hidden" name="coupon_price" value="{{ data.coupon_price|default('') }}">
                <input type="hidden" name="coupon_expiry_date" value="{{ data.coupon_expiry_date|default('') }}">
                <div class="flex flex-col md:flex-row">
                    <div class="flex-grow flex flex-col px-2">
                        <label for="customer_first_name" class="mb-1">First Name</label>
                        <div class="flex">
                            <input id="customer_first_name" class="flex-grow" name="customer_first_name" type="text" required>
                        </div>
                    </div>
                    <div class="flex-grow flex flex-col px-2">
                        <label for="customer_last_name" class="mb-1">Last Name</label>
                        <div class="flex">
                            <input id="customer_last_name" class="flex-grow" name="customer_last_name" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row">
                    <div class="flex-grow flex flex-col px-2">
                        <label class="mb-1" for="customer_email">Email</label>
                        <div class="flex">
                            <input id="customer_email" class="flex-grow" name="customer_email" type="email" required>
                        </div>
                    </div>
                    <div class="flex-grow flex flex-col px-2">
                        <label class="mb-1" for="customer_phone_number">Phone Number</label>
                        <div class="flex">
                            <input id="customer_phone_number" class="flex-grow phone-mask" name="customer_phone_number" type="text" placeholder="2547xxxxxxxx" required>
                        </div>
                    </div>
                </div>

                <div class="px-2">
                    <button type="submit" class="btn bg-brand-orange hover:bg-brand-gray focus:bg-brand-gray uppercase text-base text-white">Pay now</button>
                </div>
            </form>
        </div>

        <div id="iframe-wrapper" class="flex flex-col hidden">
            <div class="border-b border-gray-500 p-4  text-gray-700 flex justify-between items-end">
                <span class="text-lg uppercase text-gray-700">Coupon Payment</span>
                <span class="text-2xl cursor-pointer" title="Dismiss payment" data-dismiss="payment">x</span>
            </div>
            <div class="flex-grow">
                <iframe src="" class="w-full min-h-screen border-none" id="ipay-iframe"></iframe>
            </div>
            <div class="border-t border-gray-500 p-2 flex justify-end items-center">
                <button class="btn text-sm text-black bg-gray-400 hover:bg-gray-500" title="Dismiss payment" data-dismiss="payment">Cancel</button>
            </div>
        </div>
    </div>
{% endif %}
