{% if not expired %}
    <div class="slashcoupon-wrapper border border-gray-300 mt-6 p-6 shadow-md bg-gray-100">
        <div class="flex justify-between items-center px-2 text-gray-800">
            <h4 class="capitalize">Reedem coupon now!</h4>
            <h4>Price: <span class="text-blue-500">KES {{ data.coupon_price|default('') }}</span></h4>
        </div>
        <form id="slash-coupon-redeem-form" action="<?= admin_url('admin-ajax.php'); ?>" onsubmit="return false;">
            <input type="hidden" name="coupon_id" value="{{ coupon_id|default('') }}">
            <input type="hidden" name="coupon_name" value="{{ data.coupon_name|default('') }}">
            <input type="hidden" name="coupon_price" value="{{ data.coupon_price|default('') }}">
            <input type="hidden" name="coupon_expiry_date" value="{{ data.coupon_expiry_date|default('') }}">
            <div class="flex flex-col md:flex-row">
                <div class="flex-grow flex flex-col px-2">
                    <label for="customer_first_name" class="mb-1">First Name</label>
                    <div class="flex">
                        <input id="customer_first_name" class="flex-grow" name="customer_first_name" type="text" required>
                    </div>
                </div>
                <div class="flex-grow flex flex-col px-2">
                    <label for="customer_last_name" class="mb-1">Last Name</label>
                    <div class="flex">
                        <input id="customer_last_name" class="flex-grow" name="customer_last_name" type="text" required>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row">
                <div class="flex-grow flex flex-col px-2">
                    <label class="mb-1" for="customer_email">Email</label>
                    <div class="flex">
                        <input id="customer_email" class="flex-grow" name="customer_email" type="email" required>
                    </div>
                </div>
                <div class="flex-grow flex flex-col px-2">
                    <label class="mb-1" for="customer_phone_number">Phone Number</label>
                    <div class="flex">
                        <input id="customer_phone_number" class="flex-grow phone-mask" name="customer_phone_number" type="text" placeholder="2547xxxxxxxx" required>
                    </div>
                </div>
            </div>

            <div class="flex justify-end px-2">
                <button class="border-none outline-none shadow-none bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 hover:shadow-none capitalize">Redeem Coupon</button>
            </div>
        </form>
    </div>
{% endif %}
